&.entite {
    section.window-content form.mainGrid {
        grid-template-rows: max-content 1fr;
        grid-template-columns: 200px 1fr;
        grid-gap: 5px;
        align-items: flex-start;
        align-content: flex-start;

        @import "../header";

        section {
            &.top {
                display:grid;
                grid-template-columns: 1fr;
                grid-gap: 5px;

                @import "../caracteristiques";
                @import "../derives";
                @import "../combatStates";
            }

            &.body {
                display: grid;

                @import "../menu";
                @import "../capacites";
                @import "../mental";
                @import "../combat";
                @import "../inventaire";
                @import "../voies";
                @import "../presentation";
            }
        }
    }
}