div {
    &.passagers {
        &.active {
            display: grid;
        }

        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        align-content: flex-start;
        grid-gap: 5px;

        div {
            &.pilote,
            &.listpassagers {
                width: 50%;

                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 5px;
                align-items: flex-start;
                align-content: flex-start;

                border: 1px solid $black;
                border-radius: 5px;
                margin-left: auto;
                margin-right: auto;

                padding-bottom: 5px;

                i {
                    font-size: 20px;
                }

                span {
                    &.label {
                        width: 100%;
                        font-size: 20px;
                        font-weight: bold;
                        font-variant: small-caps;
                        text-align: center;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background: $purple;
                        letter-spacing: 1px;
                    }
                }

                div {
                    &.value {
                        display: grid;
                        grid-template-columns: 25px 1fr 25px;
                        align-items: center;
                        width: 100%;
                        font-size: 16px;
                        font-variant: small-caps;
                        text-align: center;
                        letter-spacing: 1px;
                        border-bottom: 1px dotted $black;

                        &.oneGrid {
                            grid-template-columns: 25px 1fr;

                            span {
                                padding-right: 25px;
                            }
                        }
                    }
                }

            }
        }
    }
}