
&.voie {
    section.window-content form.mainGrid {
        grid-template-rows: max-content 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        align-items: flex-start;
        align-content: flex-start;

        section {
            &.body {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
                align-content: flex-start;

                nav {
                    &.sheet-tabs {
                        display:grid;
                        grid-template-columns: repeat(5, 1fr);
                        border: 0px;
                        margin-top: 5px;
                        margin-bottom: 0px;
                        z-index: 999;

                        a {
                            display: flex;
                            justify-content: space-between;
                            grid-gap: 10px;
                            background: $black;
                            color: $white;
                            font-variant: small-caps;
                            letter-spacing: 1px;
                            padding-left: 5px;
                            padding-right: 5px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            text-align: left;
                            font-size: 16px;
                            align-items: center;
                            align-content: center;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            i {
                                display: none;
                            }

                            &.active {
                                text-shadow: none;
                                background: $green;

                                i {
                                    display: block;
                                }
                            }

                            &:first-of-type {
                                border-top-left-radius: 5px;
                            }

                            &:last-of-type {
                                border-top-right-radius: 5px;
                            }

                            &:not(:first-of-type) {
                                border-left: 1px solid $green;
                            }
                        }
                    }

                    &.sheet-tabs2 {
                        display:grid;
                        grid-template-columns: repeat(3, 1fr);
                        border: 0px;
                        margin-top: 5px;
                        margin-bottom: 0px;
                        z-index: 999;
                        grid-gap: 5px;

                        a {
                            display: flex;
                            justify-content: space-between;
                            grid-gap: 10px;
                            background: $black;
                            color: $white;
                            font-variant: small-caps;
                            letter-spacing: 1px;
                            padding-left: 5px;
                            padding-right: 5px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            text-align: left;
                            font-size: 16px;
                            align-items: center;
                            align-content: center;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            border-radius: 5px;
                            border: 1px solid $black;

                            i {
                                display: none;
                            }

                            &.active {
                                text-shadow: none;
                                background: $green;

                                i {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                div {
                    &.modificateurs {
                        display: none;

                        &.active {
                            display: grid;
                        }
                    }

                    &.tab {
                        display: none;
                        border: 1px solid $black;
                        margin-top: -1px;
                        padding: 5px;
                        grid-gap: 5px;
                    }

                    &.tab2 {
                        display: none;
                        border: 0px;
                        padding: 0px;
                        margin: 0px;
                        margin-top: 5px;
                    }

                    span {
                        &.label {
                            width: 100%;
                            font-size: 20px;
                            font-weight: bold;
                            font-variant: small-caps;
                            text-align: center;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            background: $purple;
                            letter-spacing: 1px;
                        }
                    }

                    &.editorBlock {
                        display: grid;
                        grid-template-columns: 1fr;
                        align-items: flex-start;
                        align-content: flex-start;
                        border: 1px solid $black;
                        border-radius: 5px;

                        div.editor {
                            min-height: 100px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;

                            div {
                                &.tox-tinymce {
                                    min-height: 200px !important;

                                    border-top-right-radius: 0px;
                                    border-top-left-radius: 0px;
                                }

                                &.editor-content {
                                    padding-left: 5px;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }

                    &.active {
                        display: grid;
                    }

                    &.midBlock {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 5px;

                        div {
                            &.col {
                                display: grid;
                                grid-template-columns: 1fr;
                                align-items: flex-start;
                                align-content: flex-start;
                            }
                        }
                    }

                    button {
                        &.toActive {
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid $black;
                            padding: 5px;
                            margin: 0px;
                            border-radius: 5px;
                            background: $grey;
                            font-variant: small-caps;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 20px;

                            i {
                                &.inactive {
                                    color: $lightred;
                                }

                                &.active {
                                    display: none;
                                }
                            }

                            &.active {
                                background: $lightgreen;

                                i {
                                    &.inactive {
                                        display: none;
                                    }

                                    &.active {
                                        display: inline;
                                    }
                                }
                            }
                            &:hover {
                                box-shadow: 0px 0px 5px 2px $purple;
                            }
                        }
                    }

                    label {
                        display: grid;
                        grid-template-columns: 1fr;
                        align-items: flex-start;
                        align-content: flex-start;
                        border: 1px solid $black;
                        border-radius: 5px;

                        span {
                            &.label {
                                width: 100%;
                                font-size: 20px;
                                font-weight: bold;
                                font-variant: small-caps;
                                text-align: center;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                                background: $purple;
                                letter-spacing: 1px;
                            }
                        }

                        input,
                        select {
                            width: 100%;
                            border:0px;
                            background: transparent;
                            font-size: 16px;
                            text-align: center;
                            padding-left: 0px;
                            padding-right: 0px;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}