<form class="mainGrid {{cssClass}}" autocomplete="off">

    <header>
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        {{~> (importParts 'identite')}}
    </header>

    <section class="body">
        <div class="tab presentation {{#if limited}}active{{/if}}" data-group="primary" data-tab="presentation">
            <div class="historique editorBlock">
                <span class="label">
                    {{localize "CNK.Description"}}
                </span>

                {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>